input{
    font-size: 20px;
}

.input-name{
    display: block;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 20%;
    width: 350px;
    height: 60px;
}


.input-email{
    display: block;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 30%;
    width: 350px;
    height: 60px;
}

.input-pass{
    display: block;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 40%;
    width: 350px;
    height: 60px;
}

.input-cpass{
    display: block;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 60px;
}

.warning{
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 57%;
    color: rgb(241, 109, 109);
}

h4{
  font-size: 40px;  

}

button{
    display: block;
    
    justify-content: center;
    align-items: center;
    

}
.g-sign{
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 70%;
    padding: 15px 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.g-sign img{
    height: 22px;
}
.btn-signup{
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 60%;
    padding: 15px 40px;
    width: 200px;
}

.btn-dog{
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 15px 40px;
    width: 200px;
}
.btn-cat{
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 40%;
    padding: 15px 40px;
    width: 200px;
}
.btn-others{
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 60%;
    padding: 15px 40px;
    width: 200px;
}